.portfolio__container{
    overflow: initial;
}

.portfolio__content{
    padding: 0 1.5rem;
}

.portfolio__img{
    width: 265px;
    border-radius: .5rem;
    justify-self: center;
}

.portfolio__title{
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-5);
}

.portfolio__description{
    margin-bottom: var(--mb-0-75);
}

.portfolio__button:hover .button__icon{
    transform: translateX(.35rem);
}



.swiperNavNext,
.swiperNavPrev {
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    z-index: 1;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.swiperNavPrev {
    left: -.5rem;
    padding-top: 20px;
    padding-left: 19px;
}
.swiperNavNext {
    right: -.9rem;
    padding-top: 20px;
}
.swiper-portfolio-icon{
    font-size: 2rem;
    color: var(--first-color);
}

.swiper-pagination-bullet-active{
    background: var(--first-color) !important;
}















